container {
    width: 1000px;
}

body {
    background: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3856857.jpg");
    background-size: cover;
}

h1 {
    color: white;
    size: 20pt;
    /* text-align: center; */
    /* padding: 10px; */
    
}

.col-md-6 {
    background-color: fuchsia;
    padding: 10px;
    margin-bottom: 15px;
}

.col-md-12 {
    background-color: lightsalmon;
    font-weight: bold;
    /* padding: 10px; */
}

.numberToGuess { 
    background-color: lightgreen;
    font: black; 
    padding:30px;
    margin-right: 400px;
    float: left;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}
.winsLosses {
    background-color: lightblue;
    padding:25px;
    /* float: right; */
    text-align: left;
    font-weight: bold;
    font: black;   
    /* margin-right:  */
}
.jewels { 
    z-index: -1;
}
.button1 {
    background:url(/assets/images/ruby.png); 
    width: 200px;
    height: 100px;
}
.button2 {
    background:url(/assets/images/sapphire.png); 
    width: 200px;
    height: 100px;
}
.button3 {
        background:url(/assets/images/yellowDiamond.png);
        width: 200px;
        height: 100px;
}
.button4  {
    background:url(/assets/images/emerald.png);
    width: 200px;
    height: 100px;
}
.col-md-4 { 
    background-color: teal;
    font: white;
    padding: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 200px;
}
.col-sm-3 {
    background-color: lightgreen;
    font: white;
    margin: 10px;
    padding: 30px; 
    font-weight: bold;   
}

img { 
    max-height: 150px;
    max-width: 150px;
}