container {
    width: 1000px;
}

body {
    background: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3856857.jpg");
    background-size: cover;
}

h1 {
    color: white;
    size: 20pt;    
}

.col-md-6 {
    background-color: fuchsia;
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.col-md-12 {
    background-color: lightsalmon;
    font-weight: bold;
    /* margin-top: 10px; */
}

.numberToGuess { 
    background-color: lightgreen;
    font: black; 
    padding:30px;
    margin-right: 400px;
    float: left;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 10px;
}
.winsLosses {
    background-color: lightblue;
    padding:25px;
    text-align: left;
    font-weight: bold;
    font: black;   
}
.col-md-4 { 
    background-color: teal;
    font: white;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 200px;
}
.col-md-3 {
    background-color: lightgreen;
    font: white;
    margin: 10px;
    margin-top: 0px;
    padding: 30px; 
    font-weight: bold;   
}

img { 
    max-height: 150px;
    max-width: 150px;
    padding-right: 20px;
}